<div *ngIf="textArray.length" class="saveText">
  Эталонный корпус текстов
  <div>
    <button (click)="saveEtalonText()" class="btn btn-outline-success">Сохранить</button>
    <button (click)="StemWords()" class="btn btn-outline-success">Привести к начальной форме</button>
  </div>
</div>
<app-download-file
  (fileParsed)="onFileParsed($event)"
></app-download-file>

<table class="table-striped table-bordered dictionary_table">
  <thead>
  <tr>
    <th class="arrow_icon_down"
        [ngClass]="{'arrow_icon_up':wordUp}"
        (click)="wordSortClick($event)"
    >Слово
    </th>
    <th class="arrow_icon_down"
        [ngClass]="{'arrow_icon_up':countUp}"
        (click)="countSortClick($event)"
    >Число
    </th>
    <th class="table_header"
    >Теги
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pair of wordArray"
  >
    <td
      class="editItemCell"
      (dblclick)="editItem(pair[0])">
      {{pair[0]}}
    </td>
    <td>{{pair[1].count}}</td>
    <td>{{pair[1].tags}}</td>
  </tr>
  </tbody>
</table>
<dialog #dialog>
  <section>
    <p><label for="editWordInput">Edit word:</label>
      <input id="editWordInput" [(ngModel)]="newWord"
             (keyup.enter)="saveWord()"/></p>
  </section>
  <menu>
    <button (click)="dialog.close()">Cancel</button>
    <button (click)="saveWord()">Confirm</button>
  </menu>
</dialog>
