.arrow_icon_down {
  background: url("./arrow_down.svg") no-repeat;
  background-position-x: right;
  background-size: contain;
  margin: 10px 30px 10px 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.table_header {
  margin: 10px 30px 10px 10px;
  width: 20px;
  height: 20px;
}

.arrow_icon_up {
  transform: rotate(180deg);
}

.dictionary_table {
  background-color: rgba(250, 249, 240, 0.8);
  margin: 50px 10% 20px 10%;
  width: 80%;
  border: double aliceblue;
}

.editItemCell {
  cursor: pointer;
}

.saveText {
  text-align: center;
  background-color: rgba(250, 249, 240, 0.7);
  padding: 20px 0 5px 0;
  margin: 0;
}
